**/__pycache__/*
baseline_draft/IIC/outputs/*
baseline_draft/PiCIE_MDC/logs/*
baseline_draft/PiCIE_MDC/outputs/*
baseline_draft_v2/IIC/outputs/*
baseline_draft_v2/PiCIE_MDC/logs/*
baseline_draft_v2/PiCIE_MDC/outputs/*